<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal para Aprovar ou Recusar Orçamento</title>

    <link rel="stylesheet" href="modal-orcamento.component.css">
</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Detalhes do Orçamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p><b>Valor: </b>R$ {{ valorPedido }}</p>
                    <hr> <!-- Linha horizontal -->
                    <p><b>Prazo: </b>{{ prazoMaximo }} dias</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aprovar</button>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Recusar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



