<head>
  <link rel="stylesheet" href="tela-relatorios.component.css">
</head>

<nav>
  <a [routerLink]="['/inicio-funcionario']" class="nav-item">Início</a>
  <a [routerLink]="['/manutencao-roupas']" class="nav-item">Manutenção<br>roupas</a>
  <a [routerLink]="['/listar-funcionario']" class="nav-item">Manutenção<br>funcionários</a>
  <a [routerLink]="['/relatorios']" class="nav-item">Relatórios</a>
  <a href="#" (click)="confirmarLogout($event)" class="nav-item">Sair</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Relatórios</h2>
  </div>

  <div class="container">
    <div class="section">
      <div class="button-container">
        <button class="btn btn-primary" (click)="gerarRelatorioClientes()">
          <i class="fas fa-download"></i> Clientes
        </button>
        <p>Dados de todos os clientes.</p>
      </div>
      <hr>
      <div class="button-container">
        <button class="btn btn-primary" (click)="gerarRelatorioReceitas()">
          <i class="fas fa-download"></i> Receitas
        </button>
        <p>Dados da receita conseguida pela empresa.</p>
      </div>
      <hr>
      <div class="button-container">
        <button class="btn btn-primary" (click)="gerarRelatorioClientesFieis()">
          <i class="fas fa-download"></i> Clientes Fiéis
        </button>
        <p>Dados dos três clientes que mais utilizam o serviço da lavanderia.</p>
      </div>
    </div>
  </div>
</div>