/* Estilo para o corpo da página */

h2 {
    font-size: 12px;
}

nav {
    position: absolute;
    left: 0;
    top: 92px;
    width: 15%;
    height: calc(100% - 100px);
    background-color: #FFFFFF;
    box-shadow: inset -1px 0px 0px #D7DBEC;
}

.nav-item {
    padding: 15px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #2c3e50;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #3498db;
    color: #FFFFFF;
}

.conteudo-principal {
    flex: 1;
    margin-left: 15%;
    margin-top: -18px;
    padding: 20px;
}

.cabecalho {
    height: 45px;
    margin-top: 14px;
    position: relative;
}

.cabecalho .titulo-pagina {
    font-size: 14px;
    font-weight: bold;
}

.titulo-pagina {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: inset -1px 0px 0px #D7DBEC;
    padding: 10px;
    color: #2c3e50;
}

.titulo-coluna {
    padding: 10px;
    text-align: left;
    font-size: 13px;
    color: #2c3e50;
}

.cabecalho-tabela th {
    width: 20%;
    /* Define a largura desejada para cada coluna */
}

.info-roupa {
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

p {
    font-size: 12px;
    margin-left: 11px;
}


/* Estilo para os botões de ação */
.btn {
    margin-left: 220px;
    font-size: 12px;
    border: 0;
    margin-top: -5%;
    background-color: #3498db;
}

.btn .btn-xs .btn-success {
    right: 90%;
}