<head>
  <link rel="stylesheet" href="tela-relatorios.component.css">
</head>

<nav>
  <a [routerLink]="['/inicio-funcionario']" class="nav-item">Início</a>
  <a [routerLink]="['/manutencao-roupas']" class="nav-item">Manutenção<br>roupas</a>
  <a [routerLink]="['/listar-funcionario']" class="nav-item">Manutenção<br>funcionários</a>
  <a [routerLink]="['/relatorios']" class="nav-item">Relatórios</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Relatórios</h2>
  </div>

  <div class="container">
    <div class="section">
      <div class="button-container">
        <button class="btn btn-primary">
          <i class="fas fa-download"></i> Receitas
        </button>
        <button class="btn btn-primary">
          <i class="fas fa-download"></i> Clientes
        </button>
        <button class="btn btn-primary">
          <i class="fas fa-download"></i> Clientes Fiéis
        </button>
      </div>
    </div>

    <div *ngIf="pessoaLogada">
      <h2>Informações da Pessoa Logada</h2>
      <ul>
        <li><strong>ID:</strong> {{ pessoaLogada.id }}</li>
        <li><strong>Nome:</strong> {{ pessoaLogada.nome }}</li>
        <li><strong>CPF:</strong> {{ pessoaLogada.cpf }}</li>
        <li><strong>Email:</strong> {{ pessoaLogada.email }}</li>
        <li><strong>Endereço:</strong> {{ pessoaLogada.endereco }}</li>
        <li><strong>Telefone:</strong> {{ pessoaLogada.telefone }}</li>
      </ul>
    </div>
    
    <hr>
    <h2>Informações de Clientes Cadastrados</h2>
    <div *ngIf="pessoas.length > 0" class="info-clientes">
      <ul>
        <li *ngFor="let pessoa of pessoas">
          <strong>ID:</strong> {{ pessoa.id }}<br>
          <strong>Nome:</strong> {{ pessoa.nome }}<br>
          <strong>CPF:</strong> {{ pessoa.cpf }}<br>
          <strong>Email:</strong> {{ pessoa.email }}<br>
          <strong>Endereço:</strong> {{ pessoa.endereco }}<br>
          <strong>Telefone:</strong> {{ pessoa.telefone }}<br>
        </li>
      </ul>
    </div>
    <hr>
    <div *ngIf="pessoas.length === 0">
      <p>Nenhum cliente cadastrado.</p>
    </div>
  </div>
</div>

