/* Estilo para o corpo da página */

nav {
    position: absolute;
    left: 0;
    top: 92px;
    width: 15%;
    height: calc(100% - 100px);
    background-color: #FFFFFF; 
    box-shadow: inset -1px 0px 0px #D7DBEC;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    padding: 15px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #2c3e50;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #3498db; 
    color: #FFFFFF; 
}

.conteudo-principal {
    font-family: "Montserrat", sans-serif;
    flex: 1;
    margin-left: 15%;
    margin-top: -17px;
    padding: 20px;
}

.cabecalho{
    height: 45px;
}

.cabecalho .titulo-pagina{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #FFFFFF; 
    box-shadow: inset -1px 0px 0px #D7DBEC;
    padding: 10px;
    color: #2c3e50;
}

.itens-pedido {
    margin-top: 20px;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

.resumo{
    margin-top: 50px;
}

.cabecalho-tabela {
    background-color: #fff; 
    font-size: 13px;
    color: #2c3e50;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.cabecalho-tabela th {
    padding: 10px;
    text-align: left; 
}

.linha-tabela {
    background-color: #FFFFFF;
    border-bottom: 1px solid #f5f5f5;
}

.linha-tabela td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
}



.itens-pedido .resumo td:nth-child(2){
    text-align: center;
    display: inline-block;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    color: black;
    margin-top: 8px;
}


/* CSS DA CAIXA DE BUSCA */
.box-busca {
    display: flex;
    justify-content: left;
    align-items: center; 
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    font-size: 13px;
}

.input-wrapper {
    display: flex; 
    flex: 1; 
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.input-wrapper .search-box-input{
    font-size: 13px;
    height: 30px;
}

.search-box-input {
    outline: 0;
    font-size: 15px;
    color: #000;
    opacity: 0.6;
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
}

.search-box-button {
    height: 30px;
    border-radius: 4px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 500px;
}

