<!-- consultar-pedido.component.html -->

<head>
  <link rel="stylesheet" href="consultar-pedido.component.css">
</head>

<!-- Menu -->
<nav>
  <a [routerLink]="['/inicio-cliente']" class="nav-item">Início</a>
  <a [routerLink]="['/consultar-pedido']" class="nav-item">Consultar Pedido</a>
  <a [routerLink]="['/fazer-pedido']" class="nav-item">Fazer pedido</a>
</nav>

<!-- Conteúdo principal -->
<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Consultar Pedido</h2>
  </div>

  <!-- Input para o código -->
  <div class="box-busca">
    <div class="input-wrapper">
      <form (ngSubmit)="onSubmit()" #buscaForm="ngForm">
        <input type="text" class="search-box-input" name="busca" [(ngModel)]="codigoPedido" placeholder="Digite o código" required>
        <button type="submit" class="search-box-button"><i class="search-box-icone icon icon-search"></i>Buscar</button>
      </form>
    </div>
  </div>

  <!-- Tabela dos pedidos -->
  <table class="itens-pedido" *ngIf="pedido">
    <thead class="cabecalho-tabela">
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Preço</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of pedido.arrayPedidosRoupas" class="linha-tabela">
        <td>{{ item.id}}</td>
        <td class="quantidade-itens">{{ item.quantidade }}</td>
        <td class="preco-itens">{{ pedido.valorpedido | currency:'BRL' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- TOTAIS E PRAZO -->
  <table class="itens-pedido resumo" *ngIf="pedido">
    <thead class="cabecalho-tabela">
      <tr>
        <th>Prazo previsto</th>
        <th>Situação do pedido</th>
        <th>Total do Pedido</th>
      </tr>
    </thead>

    <tbody>
      <tr class="linha-tabela resumo">
        <td>{{ pedido.prazo }}</td>
        <td class="situacao-pedido">{{ pedido.statuspedido }}</td>
        <td class="preco-itens">{{ pedido.valorpedido | currency:'BRL' }}</td>
      </tr>
    </tbody>
  </table>
</div>
