<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finaliza Pedido</title>

    <link rel="stylesheet" href="modal-funcionario-finalizar-pedido.component.css">
</head>
<body>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Finalizar Pedido
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Finalizar o Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Você <b>tem certeza que deseja </b> finalizar o pedido</p>
                </div>
                <div class="modal-footer">
                    <!-- Botão para Finaliar pedido -->
                    <a [routerLink]="['/inicio-funcionario']" class="btn btn-success" data-bs-dismiss="modal">Confirmar</a>
                    <!-- Botão para cancelar o pedido -->
                    <a [routerLink]="['/inicio-funcionario']" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
