body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #2c3e50;
}

label {
  display: block;
  margin-bottom: 14px;
  color: #333;
  height: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 30px;
}

.form-control{
  border-color: lightgray;
}

a.btn {
  display: inline-block; /* Garante que os elementos fiquem na mesma linha */
  background-color: #3498db;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
  text-decoration: none; /* Remove sublinhado padrão de links */
  text-align: center;
  color: #fff;
}

a.btn:hover {
  background-color: #2980b9;
}