<head>
  <link rel="stylesheet" href="autocadastro.component.css">
</head>

<div class="mb-3">
  <div class="form-group">
    <div class="well">
      <h1>Autocadastro LOL</h1>
      <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form #autocadastroForm="ngForm">
        <div class="form-row">
          <div class="form-col">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel" minlength="3" required>
              <div *ngIf="nome.errors?.['minlength'] && (nome.dirty || nome.touched)" class="alert alert-danger">
                O nome deve conter ao menos 3 caracteres.
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel" required>
              <div *ngIf="email.errors?.['email'] && (email.dirty || email.touched)" class="alert alert-danger">
                O email deve ser válido.
              </div>
            </div>

            <div class="form-group">
              <label for="rua">Rua:</label>
              <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="usuario.rua" #rua="ngModel" disabled required>
            </div>

            <div class="form-group">
              <label for="estado">Estado:</label>
              <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="usuario.estado" #estado="ngModel" disabled required>
            </div>
          </div>

          <div class="form-col">
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="usuario.cpf" #cpf="ngModel" minlength="11" mask="000.000.000-00" required>
              <div *ngIf="cpf.errors?.['minlength'] && (cpf.dirty || cpf.touched)" class="alert alert-danger">
                O CPF deve conter 11 dígitos numéricos.
              </div>
            </div>

            <div class="form-group">
              <label for="cep">CEP:</label>
              <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="usuario.cep" #cepInput="ngModel" minlength="8" mask="00000-000" (blur)="buscarEndereco(cepInput.value)" required>
              <div *ngIf="cepInput.errors?.['minlength'] && (cepInput.dirty || cepInput.touched)" class="alert alert-danger">
                O CEP deve conter 8 dígitos.
              </div>
            </div>

            <div class="form-group">
              <label for="cidade">Cidade:</label>
              <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="usuario.cidade" #cidade="ngModel" disabled required>
            </div>

            <div class="form-group">
              <label for="telefone">Telefone:</label>
              <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="usuario.telefone" mask="(00) 00000-0000" [clearIfNotMatch]="true" [dropSpecialCharacters]="false" #telefone="ngModel" required>
            </div>
          </div>
        </div>

        <div class="btn-container">
          <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!autocadastroForm.form.valid">
            Autocadastro
          </button>
          <a [routerLink]="['/login']" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>