.form-group {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.well {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #2c3e50;
}

label {
  display: block;
  margin-bottom: 14px;
  color: #333;
  height: 10px;
  font-size: 14px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 30px;
}

.btn {
  display: block; 
  background-color: #3498db;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  width: 258px; 
  box-sizing: border-box;
  font-size: 14px;
}

.btn:hover {
  background-color: #2980b9;
}

.alert-danger {
  font-size: 10px;
}


