<head>
  <link rel="stylesheet" href="inicial-funcionario.component.css">
</head>

<nav>
  <a [routerLink]="['/inicio-funcionario']" class="nav-item">Início</a>
  <a [routerLink]="['/manutencao-roupas']" class="nav-item">Manutenção<br>roupas</a>
  <a [routerLink]="['/listar-funcionario']" class="nav-item">Manutenção<br>funcionários</a>
  <a [routerLink]="['/relatorios']" class="nav-item">Relatórios</a>
  <a href="#" (click)="confirmarLogout($event)" class="nav-item">Sair</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Visualização de Pedidos</h2>
  </div>

  <!-- Filtro de pedidos -->
  <div class="filtro-pedidos">
    <label for="filtro-status" class="titulo-filtro">Filtrar por status:</label>
    <select id="filtro-status" [(ngModel)]="filtroStatus" (change)="filtrarPedidos()">
      <option value="todos">Todos</option>
      <option value="em_aberto">Em Aberto</option>
      <option value="cancelado">Cancelado</option>
      <option value="rejeitado">Rejeitado</option>
      <option value="recolhido">Recolhido</option>
      <option value="aguardando_pagamento">Aguardando Pagamento</option>
      <option value="pago">Pago</option>
      <option value="finalizado">Finalizado</option>
    </select>
  </div>

  <!-- Tabela de pedidos -->
  <br>
  <table class="table table-hover">
    <tbody class="cabecalho-tabela">
      <tr>
        <th class="titulo-coluna">ID do pedido</th>
        <th class="titulo-coluna">Data</th>
        <th class="titulo-coluna">Nome do cliente</th>
        <th class="titulo-coluna">Status do pedido</th>
        <th class="titulo-coluna">Total</th>
      </tr>

      <tr *ngFor="let pedido of pedidosFiltrados">

        <td class="info-pedido">{{pedido.idpedido}}</td>
        <td class="info-pedido">{{pedido.datadopedido | date:'dd/MM/yyyy'}}</td>
        <td class="info-pedido">{{pedido.nomecliente}}</td>
        <td class="info-pedido" [ngClass]="getStatusClass(pedido.statuspedido)">{{pedido.statuspedido}}</td>
        <td class="info-pedido">{{pedido.valorpedido | currency:'BRL':'symbol':'1.2-2'}}</td>

        <td class="text-center">

          <!-- Botão/link para recolher o pedido -->
          <ng-container *ngIf="pedido.statuspedido === 'EM ABERTO'">
            <a href="#" title="Recolher" alt="Recolher" class="btn btn-xs btn-recolher"
              (click)="recolherPedido($event, pedido)">
              <i class="fas fa-archive" aria-hidden="true"></i> Recolher
            </a>
          </ng-container>

          <!-- Botão/link para lavar o pedido -->
          <ng-container *ngIf="pedido.statuspedido === 'RECOLHIDO'">
            <a href="#" title="Lavar" alt="Lavar" class="btn btn-xs btn-lavar" (click)="lavarPedido($event, pedido)">
              <i class="fa-solid fa-hand-sparkles" aria-hidden="true"></i> Lavar
            </a>
          </ng-container>

          <!-- Botão/link para finalizar o pedido -->
          <ng-container *ngIf="pedido.statuspedido === 'PAGO'">
            <a href="#" title="Finalizar" alt="Finalizar" class="btn btn-xs btn-finalizar"
              (click)="finalizarPedido($event, pedido)">
              <i class="fa-solid fa-square-check" aria-hidden="true"></i> Finalizar
            </a>
          </ng-container>

        </td>

      </tr>

    </tbody>
  </table>
  <p *ngIf="pedidosFiltrados.length === 0">Nenhum pedido encontrado.</p>
</div>