<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Funcionário</title>

    <link rel="stylesheet" href="modal-excluir-func.component.css">
</head>
<body>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-custom btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Excluir
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmar a Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certerza <b>que deseja excluir</b> o Funcionário?</p>
                </div>
                <div class="modal-footer">
                    <!-- Botão para Confirmar a exclusão -->
                    <a [routerLink]="['/listar-funcionario']"class="btn btn-success" data-bs-dismiss="modal">Excluir</a>
                    <!-- Botão para cancelar a exclusão -->
                    <a [routerLink]="['/listar-funcionario']" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

