<!--
<head>
  <link rel="stylesheet" href="./login.component.css">
</head>

<div class="mb-3">
  <div class="form-group">
    <form id="loginForm" class="bg-white p-2 rounded-lg">
      <h1>LOL Lavanderia On-line</h1>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="email">

      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" class="form-control" required [(ngModel)]="senha">

      <button type="button" class="btn btn-primary" (click)="fazerLogin()">Login</button>
      <a [routerLink]="['/autocadastro']" class="btn btn-secondary" title="Autocadastro">Realizar Autocadastro</a>
    </form>
  </div>
</div>
-->