/* Estilo para o corpo da página */
body {
    background-color: #F5F6FA; 
    font-family: "Montserrat", sans-serif; 
    margin: 0;
    padding: 0;
}

.md-3 {
    display: flex;
    margin: 0;
}

.header-base {
    width: 100%;
    height: 76px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h2 {
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../../../assets/imagens/logo.png');
}

.logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #2c3e50;
}

.usuario-info {
    display: flex;
    align-items: center;
}

.usuario-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../../../assets/imagens/usuario.png');
}

.usuario-info span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c3e50;
}

nav {
    position: absolute;
    left: 0;
    top: 92px;
    width: 15%;
    height: calc(100% - 100px);
    background-color: #FFFFFF; 
    box-shadow: inset -1px 0px 0px #D7DBEC;
}

.nav-item {
    font-family: "Montserrat", sans-serif;
    padding: 15px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #2c3e50;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #3498db; 
    color: #FFFFFF;
}

.conteudo-principal {
    font-family: "Montserrat", sans-serif;
    flex: 1;
    margin-left: 15%; 
    margin-top: -3px; /* Altura do cabeçalho */
    margin-bottom: 8px; 
    padding: 20px;
    height: calc(100vh - 84px); /* 100% da altura da janela menos altura do cabeçalho e menu */
}

.cabecalho{
    height: 45px;
}

.cabecalho .titulo-pagina{
    font-size: 14px;
    font-weight: bold;
}

.titulo-pagina {
    margin-bottom: 20px;
    background-color: #FFFFFF; 
    box-shadow: inset -1px 0px 0px #D7DBEC;
    padding: 10px;
    color: #2c3e50;
}

/* Estilo para o filtro de status */
.titulo-filtro{
    font-size: 12px;
    margin-left: 5px;
}


#filtro-status {
    padding: 8px 12px;
    font-size: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #2c3e50;
    outline: none; 
}


.tabela-pedidos {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cabecalho-tabela {
    background-color: #fff; 
    color: #2c3e50;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.cabecalho-tabela th {
    padding: 10px;
    text-align: left; 
    font-size: 14px;
}

.linha-tabela {
    background-color: #FFFFFF;
    border-bottom: 1px solid #f5f5f5;
}

.linha-tabela td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

.linha-tabela td:nth-child(4) {
    text-align: center;
    display: inline-block;
    background-color:#FFE45F;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    color: #af7012;
    margin-left: 15px;
    margin-top: 8px;
}

.btn-cancelar {
    background-color: #F0142F;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
    font-weight: normal; /* Remover negrito */
    text-decoration: none; /* Remover sublinhado */
}

.btn-cancelar:hover {
    background-color: #e4455b;
}