/* Estilo para o corpo da página */
.mb-3 {
    display: flex;
    margin: 0;
}

.header-base {
    width: 100%;
    height: 76px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h2 {
    font-size: 12px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("../../../assets/imagens/logo.png");
}

.logo h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #2c3e50;
}

.usuario-info {
    display: flex;
    align-items: center;
}

.usuario-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("../../../assets/imagens/usuario.png");
}

.usuario-info span {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c3e50;
}

nav {
    position: absolute;
    left: 0;
    top: 92px;
    width: 15%;
    height: calc(100% - 100px);
    background-color: #ffffff;
    box-shadow: inset -1px 0px 0px #d7dbec;
}

.nav-item {
    padding: 15px 20px;
    font-size: 13px;
    text-decoration: none;
    color: #2c3e50;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #3498db;
    color: #ffffff;
}

.conteudo-principal {
    flex: 1;
    margin-left: 15%;
    margin-top: -18px;
    padding: 20px;
}

.cabecalho {
    height: 45px;
    margin-top: 14px;
    position: relative;
}

.cabecalho .titulo-pagina {
    font-size: 14px;
    font-weight: bold;
}

.titulo-pagina {
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: inset -1px 0px 0px #d7dbec;
    padding: 10px;
    color: #2c3e50;
}

.titulo-coluna {
    padding: 10px;
    text-align: left;
    font-size: 13px;
    color: #2c3e50;
}

.cabecalho-tabela th {
    width: 15%;
    /* Define a largura desejada para cada coluna */
}

.info-pedido {
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

p {
    font-size: 12px;
    margin-left: 11px;
}


/* Estilo para os status e filtro */

.titulo-filtro {
    font-size: 12px;
    margin-left: 10px;
}

#filtro-status {
    padding: 8px 12px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 12px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #2c3e50;
    outline: none;
}

.status-em-aberto {
    color: #FFD700;
    font-weight: bold;
}

.status-cancelado {
    color: red;
    font-weight: bold;
}

.status-recolhido {
    color: gray;
    font-weight: bold;
}

.status-aguardando-pagamento {
    color: #166092;
    font-weight: bold;
}

.status-pago {
    color: orange;
    font-weight: bold;
}

.status-finalizado {
    color: #198754;
    font-weight: bold;
}


/* Estilo para os botões de ação */

.btn {
    font-size: 12px;
    border: none;
    margin-right: 10px;
}

.btn-cancelar {
    background-color: #F0142F;
    color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
    font-weight: normal;
    /* Remover negrito */
    text-decoration: none;
    /* Remover sublinhado */
}

.btn-cancelar:hover {
    background-color: #e4455b;
}

.disabled-link {
    pointer-events: none;
    /* Desabilita eventos de clique */
    color: rgb(179, 177, 177);
    /* Altera a cor do texto para indicar que está desabilitado */
    text-decoration: none;
    /* Remove sublinhado */
    cursor: default;
    /* Altera o cursor */
}