<head>
  <link rel="stylesheet" href="inserir-pedido.component.css">
</head>

<div class="md-3">
  <header class="header-base">
    <div class="logo">
      <img src="../../../assets/imagens/logo.png" alt="Logo da Lavanderia LOL">
      <h1>Lavanderia LOL</h1>
    </div>

    <div class="usuario-info">
      <img src="../../../assets/imagens/usuario.png" alt="Foto do usuário">
      <span>Nome do Usuário</span>
    </div>
  </header>
</div>

<nav>
  <a [routerLink]="['/inicio-cliente']" class="nav-item">Início</a>
  <a [routerLink]="['/consultar-pedido']" class="nav-item">Consultar Pedido</a>
  <a [routerLink]="['/fazer-pedido']" class="nav-item">Fazer pedido</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Fazer Pedidos</h2>
  </div>

  <div class="well">
    <form #formPedido="ngForm">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pedido.nomecliente" #nome="ngModel" minlength="2" required>
        <div *ngIf="nome.errors &&(nome.dirty || nome.touched)" class="alert alert-danger">
          <div [hidden]="!nome.errors['required']"> Digite o nome da pessoa. </div>
          <div [hidden]="!nome.errors['minlength']"> O nome deve conter ao menos 2 caracteres. </div>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!formPedido.form.valid">
          <i class="fa fa-save" aria-hidden="true"></i> Salvar
        </button>
        <a class="btn btn-secondary" [routerLink]="['/fazer-pedido']">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
        </a>
      </div>
    </form>
  </div>