<head>
  <link rel="stylesheet" href="inserir-pedido.component.css">
</head>

<nav>
  <a [routerLink]="['/inicio-cliente']" class="nav-item">Início</a>
  <a [routerLink]="['/consultar-pedido']" class="nav-item">Consultar Pedido</a>
  <a [routerLink]="['/fazer-pedido']" class="nav-item">Fazer pedido</a>
  <a [routerLink]="['/inicio/login']" class="nav-item">Sair</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Fazer Pedidos</h2>
  </div>

  <!-- Cabeçalho da tabela -->
  <table class="table table-hover">
    <tbody class="cabecalho-tabela">
      <tr>
        <th class="titulo-coluna">Nome da peça</th>
        <th class="titulo-coluna">Quantidade</th>
        <th class="titulo-coluna">Prazo lavagem</th>
        <th class="titulo-coluna">Opções</th>
      </tr>
      <tr *ngFor="let pecaroupa of pecasroupas" class="align-middle">
        <td class="info-pecaroupa">{{ pecaroupa.pecaroupa.nome || 'Nome não disponível' }}</td>
        <td class="info-pecaroupa">{{ pecaroupa.quantidade }}</td>
        <td class="info-pecaroupa">{{ prazosMap[pecaroupa.pecaroupa.id] || 'Prazo não encontrado' }}</td>
        <td class="text-center">
          <div class="button-container">
            <a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info"
              [routerLink]="['/editar-peca-roupa-quantidade', pecaroupa.id]">
              <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger"
              (click)="remover($event, pecaroupa)">
              <i class="fa fa-times" aria-hidden="true"></i> Remover
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="pecasroupas.length === 0">Nenhuma peça foi adicionada.</p>

  <div>
    <a [routerLink]="['/formulario-peca-roupa']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
      <i class="fa fa-plus" aria-hidden="true"></i> Adicionar item
    </a>
    <button type="button" class="btn btn-primary" (click)="abrirModal()" *ngIf="pecasroupas.length !== 0">
      <i class="fa fa-save" aria-hidden="true"></i> Concluir pedido
    </button>
  </div>
  <app-modal-orcamento [valorPedido]="valorPedido" [prazoMaximo]="prazoMaximo" 
    (aprovar)="aprovarPedido()"
    (recusar)="onRecusar()">
  </app-modal-orcamento>
</div>
