<head>
  <link rel="stylesheet" href="./editar-funcionario.component.css">
</head>

<nav class="menu">
  <a [routerLink]="['/inicio-funcionario']" class="nav-item">Início</a>
  <a [routerLink]="['/manutencao-roupas']" class="nav-item">Manutenção<br>roupas</a>
  <a [routerLink]="['/editar-funcionario']" class="nav-item">Manutenção<br>funcionários</a>
  <a [routerLink]="['/relatorios']" class="nav-item">Relatórios</a>
  <a href="#" (click)="confirmarLogout($event)" class="nav-item">Sair</a>

</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Edição de Funcionário</h2>
  </div>

  <form #formFuncionario="ngForm" class="formulario-funcionario">
    <div class="mb-3 form-group">
      <label for="nome" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="funcionario.nome" #nome="ngModel" minlength="2" required>
    </div>
    <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
      <div [hidden]="!nome.errors['minlength']"> O nome deve conter ao menos 2 caracteres. </div>
    </div>

    <div class="mb-3 form-group">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="funcionario.email" #email="ngModel" required>
    </div>

    <div class="mb-3 form-group">
      <label for="dataNascimento" class="form-label">Data Nascimento</label>
      <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" [(ngModel)]="funcionario.dataNascimento" #dataNascimento="ngModel" required>
    </div>
    <div class="mb-3 form-group">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha" pattern="[0-9]{8}" [(ngModel)]="funcionario.senha" #senha="ngModel" required>
      <div *ngIf="senha?.invalid && (senha?.dirty || senha?.touched)" class="alert alert-danger">
        <div *ngIf="senha?.errors?.['pattern']">Senha deve conter 8 dígitos numéricos.</div>
      </div>
    </div>
    <div class="mb-3 form-group">
      <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
      <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required [(ngModel)]="funcionario.confirmarSenha" #confirmarSenha="ngModel">
      <div *ngIf="confirmarSenha?.invalid && (confirmarSenha?.dirty || confirmarSenha?.touched)" class="alert alert-danger">
        <div *ngIf="confirmarSenha?.errors?.['required']">Confirmação de senha é obrigatória.</div>
        <div *ngIf="funcionario.senha !== confirmarSenha?.value">As senhas não coincidem.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="editarFuncionario()" [disabled]="formFuncionario.invalid">Salvar</button>
    <a [routerLink]="['/listar-funcionario']" class="btn btn-danger">Cancelar</a>
  </form>
</div>