/* You can add global styles to this file, and also import other style files */


/* CSS DOS MODAIS */
.btn-custom {
    background-color: #1E5EFF; 
    color: white; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Move o botão para o centro da tela */
}

.modal-dialog {
    width: 30%; 
    height: 30%; 
    max-width: 90%; 
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    inset: 50% 0; /* Posiciona o modal verticalmente na metade da tela */
    transform: translate(0, -50%); /* Centraliza verticalmente */
}

.modal-body {
    text-align: center;
    font-size: 18px;
}

.modal-footer {
    justify-content: center;
}


