<head>
  <link rel="stylesheet" href="fazer-pedido.component.css">
</head>

<div class="md-3">
  <header class="header-base">
    <div class="logo">
      <img src="../../../assets/imagens/logo.png" alt="Logo da Lavanderia LOL">
      <h1>Lavanderia LOL</h1>
    </div>

    <div class="usuario-info">
      <img src="../../../assets/imagens/usuario.png" alt="Foto do usuário">
      <span>Nome do Usuário</span>
    </div>
  </header>
</div>

<nav>
  <a [routerLink]="['/inicio-cliente']" class="nav-item">Início</a>
  <a [routerLink]="['/consultar-pedido']" class="nav-item">Consultar Pedido</a>
  <a [routerLink]="['/fazer-pedido']" class="nav-item">Fazer pedido</a>
</nav>

<div class="conteudo-principal">
  <div class="cabecalho">
    <h2 class="titulo-pagina">Fazer Pedidos</h2>
    <a [routerLink]="['/']" class="btn-novo">Novo pedido</a>
  </div>

  <div class="tabela-pedidos">
    <!-- EXEMPLOS -->

    <div class="linhapedido">
      <div class="img_title">
        <i class="fa-solid fa-shirt" style="font-size: 20px; vertical-align: middle; color: gray"></i>
        <h2 id="tile-linhapedido">Camiseta</h2>
      </div>
      <h2>Quantidade: 2</h2>
      <a [routerLink]="['/']" class="btn btn-editar">Editar</a>
      <a [routerLink]="['/']" class="btn btn-excluir">Excluir</a>
    </div>

    <div class="linhapedido">
      <div class="img_title">
        <i class="fa-solid fa-shirt" style="font-size: 20px; vertical-align: middle; color: gray"></i>
        <h2 id="tile-linhapedido">Camiseta</h2>
      </div>
      <h2>Quantidade: 2</h2>
      <a [routerLink]="['/']" class="btn btn-editar">Editar</a>
      <a [routerLink]="['/']" class="btn btn-excluir">Excluir</a>
    </div>

    <div class="linhapedido">
      <div class="img_title">
        <i class="fa-solid fa-shirt" style="font-size: 20px; vertical-align: middle; color: gray"></i>
        <h2 id="tile-linhapedido">Camiseta</h2>
      </div>
      <h2>Quantidade: 2</h2>
      <a [routerLink]="['/']" class="btn btn-editar">Editar</a>
      <a [routerLink]="['/']" class="btn btn-excluir">Excluir</a>
    </div>
    
  </div>
</div>