<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOL Lavanderia On-line - Pedidos em Aberto</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fazer-pedido.component.css">
</head>

<body>

  <div class="container">
    <header>
      <div class="logo">
        <img src="../../../assets/imagens/logo.png" alt="Logo da Lavanderia LOL">
        <h1>Lavanderia LOL</h1>
      </div>

      <div class="usuario-info">
        <img src="../../../assets/imagens/usuario.png" alt="Foto do usuário">
        <span>Nome do Usuário</span>
      </div>
    </header>
  </div>

  <nav>
    <a class="nav-item" href="#">Início</a>
    <a class="nav-item" href="#">Pedidos</a>
    <a class="nav-item" href="#">Consultar Pedido</a>
    <a class="nav-item" href="#">Fazer Pedido</a>
  </nav>

  <div class="conteudo-principal">
    <h2 class="titulo-pagina">Fazer pedido</h2>

    <div class="tabela-pedidos">
      <!-- EXEMPLOS -->

      <div class="linhapedido">
        <div class="img_title">
          <img src="../../../assets/imagens" alt="camiseta">
          <h2 id="tile-linhapedido">Camiseta</h2>
        </div>
        <h2>Quantidade: 2</h2>
        <button class="btn-editar">Editar</button>
        <button class="btn-excluir">Excluir</button>
      </div>

      <div class="linhapedido">
        <div class="img_title">
          <img src="../../../assets/imagens" alt="camiseta">
          <h2 id="tile-linhapedido">Camiseta</h2>
        </div>
        <h2>Quantidade: 2</h2>
        <button class="btn-editar">Editar</button>
        <button class="btn-excluir">Excluir</button>
      </div>

      <div class="linhapedido">
        <div class="img_title">
          <img src="../../../assets/imagens" alt="camiseta">
          <h2 id="tile-linhapedido">Camiseta</h2>
        </div>
        <h2>Quantidade: 2</h2>
        <button class="btn-editar">Editar</button>
        <button class="btn-excluir">Excluir</button>
      </div>



    </div>
  </div>

</body>

</html>